<ng-container *ngIf="(products$ | async) as productsList; else loading">
  <button class="btn btn-primary" (click)="onClick()">More Products</button>
  <div class="alert alert-warning">
    Product Count: {{ productsList?.length }}
  </div>
  <div class="row">
    <div class="col-4" *ngFor="let product of productsList">
      <img
        class="rounded-circle"
        [src]="product.thumbnail"
        alt="Product Image"
        width="150px"
        height="150px"
      />
      <div>{{ product.title }}</div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
